@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grape+Nuts&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    .grape-nuts-regular {
        font-family: "Grape Nuts", cursive;
        font-weight: 400;
        font-style: normal;
      }
      font-family: "Dancing Script", cursive;
      /* background: #000000f3; */
      /* color: white; */
}
.container{
    padding: 1rem;
}
.content{
    border: black solid 0.2px;
    padding: 0.4rem;
    display: grid;
    grid-template-rows: repeat(autofit,minmax(150px,500px));
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}
.box1{
    border: solid red;
    display: grid;
    gap: 0.6rem;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
}
.profile1{
    border: solid green;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap:1.2rem;
    padding: 0.5rem;
}
.profile1 img{
    width:200px;
    height:200px;
    border-radius:100%;
}
.data{
    border: solid blue;
    width:50%;
    padding: 1.2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
@media(max-width:300px){
    .profile1 img{
        width:150px;
        height:150px;
        border-radius:100%;
    }
}
.box1 a{
    color: blue;
    font-family: "Grape Nuts", cursive;
}
a{
    color: white;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
    text-decoration: none;
}
.box2{
    border: solid green;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,500px));
    justify-content: space-evenly;
    align-items: center;
    padding:0.5rem;
    gap: 1rem;
}
h2{
    font-size:2rem;
}
.hero{
    padding: 0.5rem;
    border: solid 0.3px black;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
}
p{
    line-height: 1.5rem;
}
button{
    padding:1rem;
    background-color: rgba(4, 33, 196, 0.932);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
@media(max-width:500px){
    .data{
        width: 100%;
    }
}