@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grape+Nuts&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    .grape-nuts-regular {
        font-family: "Grape Nuts", cursive;
        font-weight: 400;
        font-style: normal;
      }
      font-family: "Dancing Script", cursive;
      background: rgba(207, 207, 207, 0.425);
      /* color: white; */
}
.container{
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content{
    border: black solid 0.2px;
    width:fit-content;
    /* display: block; */
    height: 100%;
    padding: 0.4rem;
    display: grid;
    grid-template-rows: repeat(autofit,minmax(150px,500px));
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}
.box1{
    /* border: solid red; */
    display: grid;
    gap: 0.6rem;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
}
.profile1{
    /* border: solid green; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap:1.2rem;
    padding: 0.5rem;
}
.profile1 img{
    width:200px;
    height:200px;
    border-radius:100%;
    box-shadow: -3px 3px 5px;
    border: 3px rgb(36, 14, 14) solid;
    padding:0.5rem;
}
.data{
    /* border: solid blue; */
    width:50%;
    padding: 1.2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
@media(max-width:300px){
    .profile1 img{
        width:150px;
        height:150px;
        border-radius:100%;
    }
}
.box1 a{
    color: black;
    font-family: "Grape Nuts", cursive;
}
a{
    color: white;
    font-weight: bold;
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
}
.box2{
    /* border: solid green; */
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,500px));
    justify-content: space-evenly;
    align-items: center;
    padding:0.5rem;
    gap: 1rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size: 2.5rem;
}
.hero{
    padding: 0.5rem;
    /* border: solid 0.3px black; */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-evenly;
}
button:hover{
    background-color: rgba(15, 81, 107, 0.932);

}
.nav a{
    font-size:0.9rem;
}
.hero p{
    font-size:0.8rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    line-height: 1.5rem;
}
button{
    padding:0.3rem 1rem;
    background-color: rgba(19, 119, 158, 0.932);
    border: none;
    border-radius:10%;
    transition: all 0.2s;
    cursor: pointer;
}
@media(max-width:500px){
    .data{
        width: 100%;
    }
}
@media (max-width:800px){
    .content{
        border: none;
        /* height:300vh; */
    }
}